asttokens==2.4.1
colorama==0.4.6
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
filelock==3.15.4
ipdb==0.13.13
ipython==8.26.0
jedi==0.19.1
Levenshtein==0.25.1
matplotlib-inline==0.1.7
parso==0.8.4
platformdirs==4.2.2
prompt_toolkit==3.0.47
pure_eval==0.2.3
Pygments==2.18.0
python-Levenshtein==0.25.1
rapidfuzz==3.9.7
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
virtualenv==20.26.3
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13
